.tabs{
  display: none;
}
.container{
  width: 1080px;
  margin: auto;
}
a{
  color:$blue;
  &:hover{
    color:$main-color;
    text-decoration: none;
  }
}

html,body{
  font-size: 100%;
  font-family:"Times New Roman", serif;
}
body.html[data-font="font-small"]{
  font-size: 100%;
}

body.html[data-font="font-middle"]{
  font-size: 110%;
}
body.html[data-font="font-big"]{
  font-size: 130%; 
}

body.html[data-bg="white-control"]{
  background: #fff;
  color:#000;

  a{
    color:$blue;
    &:hover{
      color:$main-color;
      text-decoration: none;
    }
  }

}

body.html[data-bg="black-control"]{
  background: #000;
  color:#fff;

  a{
    color:$blue;
    &:hover{
      color:$main-color;
      text-decoration: none;
    }
  }
}
body.html[data-bg="blue-control"]{
  background: #6294c9;
  color:#0553a8;
  a{
    color:#fff;
  }



}
body.html.images-disbled{
  img{
    display: none;
  }
}






h1{
  font-size: 1.75rem;
}
h2{
  font-size: 1.65rem;
}
h3{
  font-size: 1.35rem;
}
h4{
  font-size: 1.25rem;
}
h5{
  font-size: 1.15rem;
}
h6{
  font-size: 1rem;
}
strong,b{
  font-weight: 700;
}

#header{
  background: $blue;
  color:#fff;
  margin-bottom: 20px;
  padding: 15px 20px;
  position:relative;
  #logo{
    float: left;
    position: relative;
    z-index: 1;
    margin-right: 15px;
  }
  a{
    color:#fff;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}
/*User block*/
.user-col{
  margin-right: 5px;
}
#main-menu{
  list-style:none;
  padding-left: 0px;
  li{
    display:inline-block;
    &.first{
      margin-left: 0px;
    }
    a{ 

    }
  }
}
.menu{
  list-style:none;
  padding-left: 0px;
  li{
    display:inline-block;
    &.first{
      margin-left: 0px;
    }
    a{
      &:hover{
        text-decoration: underline;

      }
      &.active{
        text-decoration: underline;

      }
    }
  }
}



.node{
  &.com_teaser{
    margin-bottom:30px;
    .field{
      margin-bottom: 10px; 
    }
    .field-name-view-count,.field-name-comments-count,{
      display: none;
    }
    .field-name-body {
      img{
        display: none;
      }
    }
  }
}
.block{
  margin-bottom: 30px;
}

#block-special-theme-switcher{
  position: absolute;
  top:8px;
  right:18px; 
}